{{#modal-dialog
  title="Просмотр PDF"
  useOkButton=false
  useCloseButton=false
  close="removeModalDialog"
}}
  <div class="ui form flexberry-vertical-form">
    <div class="field">{{uploadUrl}},{{pageNumber}}</div>
    <div class="field">
        {{pdf-view
            startPage=pageNumber
            pdf=uploadUrl
            toolbarComponent="pdf-view-toolbar"
        }}
    </div>
  </div>
{{/modal-dialog}}